{% extends 'base.html' %}
{% block content %}
    <h1>Customer Record:</h1>

    <div class="card w-25 border-primary mb-3">
        <div class="card-header text-bg-primary ">
            {{ customer_record.first_name }} {{ customer_record.last_name }}
        </div>
        <div class="card-body">
            <p class="card-text">
                <strong>Email: </strong>{{ customer_record.email }}</br>
                <strong>Phone: </strong>{{ customer_record.phone }}</br>
                <strong>Address: </strong>{{ customer_record.address }}</br>
                <strong>City: </strong>{{ customer_record.city }}</br>
                <strong>State: </strong>{{ customer_record.state }}</br>
                <strong>Zipcode: </strong>{{ customer_record.zipcode }}</br>
                <strong>Created at: </strong>{{ customer_record.created_at }}</br>
                <strong>Id: </strong>{{ customer_record.id }}
            </p>
        </div>
      </div>

    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    <a href="{% url 'delete' customer_record.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'update_record' customer_record.id %}" class="btn btn-primary">Update Record</a>
{% endblock %}